<!DOCTYPE html>
<html>
  <%- include('_includes/head.ejs', {'title': 'Home'}); -%>
  <body>
    <%- include('_includes/navbar.ejs', {'active_page': 'index'}); -%>
    <main class="container">
      <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="/images/icon.jpeg" alt="" height="150">
        <h1 class="display-5 fw-bold">SIAK VNG</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">Sistem Akademik Very Next Generation will be the most advanced academic system. Say goodbye to SIAK-WAR!</p>
        </div>
      </div>    
    </main>
    <%- include('_includes/footer.ejs'); -%>
  </body>
</html>
